<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Assistant' rel='stylesheet'>
    <!-- <script src="script.js"></script> -->
    <title>Document</title>
</head>
<body>
    <!-- top navbar -->
    <header>
        <!-- logo -->
        <div class="logo">LOGO</div>
        <!-- Right navbar links -->
        <div class="nav-right">
            <a href = "/">Home</a>
            <a href = "/log">Log</a>
            <a href = "/calendar">Calendar</a>
            <a href = "/analytics">Analytics</a>
        </div>
    </header>
    <!-- Main body -->
    <div class="main-body">
        <div class="background"></div>
        <!-- Left and right (links and image) -->
        
        
        <div class="main-right"></div>
    </div>

    
    
    </div>
</body>
</html>