<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    
    <link href='https://fonts.googleapis.com/css?family=Assistant' rel='stylesheet'>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/he/1.2.0/he.min.js"></script>
    
    <!-- <script src="script.js"></script> -->
    <title>Document</title>
</head>
<body>
    <!-- top navbar -->
    <header>
        <!-- logo -->
        <div class="logo">LunchLink</div>
        <!-- Right navbar links -->
        <div class="nav-right">
            <a href = "/">Home</a>
            <a href = "/log">Log</a>
            <a href = "/calendar">Calendar</a>
            <a href = "/analytics">Analytics</a>
        </div>
    </header>
    <!-- Main body -->
    <!--<section id="a">
      <img src="../static/images/food-bowl.png" id="background">
      <h1 class="home1-text04" id="txt">Optimization</h1>
      <a href="#" id="btn" onclick="transition()">Explore</a>
    </section>-->
    <div class="analytics-header">
      <h1>ANALYTICS</h1>
    </div>
    <div class="main-body">
        <div class="background"></div>
        
        <div class="charts">
          <div class="pies">
              <script src="../static/js/loadCharts.js"></script>
              <script type="text/javascript">
                  window.addEventListener('load', function () {
                    var graph = ('{{pie1}}');
                    createGraph(graph, "pie1");
                  })
                </script>
                <div id="pie1"></div>

          </div>
          <div class="bars">

                <script type="text/javascript">
                  window.addEventListener('load', function () {
                    var graph = ('{{bar1}}');
                    createGraph(graph, "bar1");
                  })
                </script>
                <div id="bar1"></div>

                <script type="text/javascript">
                  window.addEventListener('load', function () {
                    var graph = ('{{bar2}}');
                    createGraph(graph, "bar2");
                  })
                </script>
                <div id="bar2"></div>
          
          </div>
        </div>

    </div>
</body>
</html>