<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Assistant' rel='stylesheet'>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/he/1.2.0/he.min.js"></script>
    <!-- <script src="script.js"></script> -->
    <title>Document</title>
</head>
<body>
    <!-- top navbar -->
    <header>
        <!-- logo -->
        <div class="logo">LOGO</div>
        <!-- Right navbar links -->
        <div class="nav-right">
            <a href = "/">Home</a>
            <a href = "/log">Log</a>
            <a href = "/calendar">Calendar</a>
            <a href = "/analytics">Analytics</a>
        </div>
    </header>
    <!-- Main body -->
    <div class="analytics-header">
      <h1>ANAL YTICS</h1>
    </div>
    <div class="main-body">
        <div class="background"></div>
        
        <div class="charts">
          <div class="pies">
              <script src="../static/js/loadCharts.js"></script>
              <script type="text/javascript">
                  window.addEventListener('load', function () {
                    var graph = ('{{pie}}');
                    createGraph(graph, "pie");
                  })
                </script>
                <div id="pie"></div>

                <script src="../static/js/loadCharts.js"></script>
                <script type="text/javascript">
                    window.addEventListener('load', function () {
                      var graph = ('{{pie}}');
                      createGraph(graph, "pie");
                    })
                  </script>
                <div id="pie"></div>

          </div>
          <div class="bars">

                <script type="text/javascript">
                  window.addEventListener('load', function () {
                    var graph = ('{{bar}}');
                    createGraph(graph, "bar");
                  })
                </script>
                <div id="bar"></div>

                <script type="text/javascript">
                  window.addEventListener('load', function () {
                    var graph = ('{{bar}}');
                    createGraph(graph, "bar");
                  })
                </script>
                <div id="bar"></div>
          
          </div>
        </div>

    </div>
</body>
</html>