<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../static/css/calendar.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../static/js/script.js" defer></script>
    
    <link href='https://fonts.googleapis.com/css?family=Assistant' rel='stylesheet'>
    <!-- <script src="script.js"></script> -->
    <title>LunchLink | Calendar</title>
</head>
<body>
    <!-- top navbar -->
    <header>
        <!-- logo -->
        <div class="logo">LunchLink</div>
        <!-- Right navbar links -->
        <div class="nav-right">
            <a href = "/">Home</a>
            <a href = "/calendar">Calendar</a>
            <a href = "/analytics">Analytics</a>
        </div>
    </header>
    <!-- Main body -->
    <div class="main-body">
        <div class="background"></div>
        <div class="container">
            <div class="calendar">
              <div class="calendar-header">
                <span class="month-picker" id="month-picker"></span>
                <div class="year-picker" id="year-picker">
                  <span class="year-change" id="pre-year">
                    <pre><</pre>
                  </span>
                  <span id="year"></span>
                  <span class="year-change" id="next-year">
                    <pre>></pre>
                  </span>
                </div>
              </div>
        
              <div class="calendar-body">
                <div class="calendar-week-days">
                  <div>Sun</div>
                  <div>Mon</div>
                  <div>Tue</div>
                  <div>Wed</div>
                  <div>Thu</div>
                  <div>Fri</div>
                  <div>Sat</div>
                </div>
                <div class="calendar-days">
                </div>
              </div>
              <div class="calendar-footer">
              </div>
              <div class="date-time-formate">
                <div class="day-text-formate">TODAY</div>
                <div class="date-time-value">
                  <div class="time-formate"></div>
                  <div class="date-formate"></div>
                </div>
              </div>
              <div class="month-list"></div>
            </div>
          </div>
          <div id="myModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <p class="text"></p>
            </div>
          </div>
          
          <div class="side">
            <div class="no-data-shown">
              <h1>No Data Shown</h1>
            </div>
            <div class="data-side">
              
              <h2 class="date"></h2>
              <div class="data-options">
                <div class="option-1-container">
                  <p>Option 1:</p> <div class = "option-1">
                    Cheese Pizza
                  </div>
                </div>
                <div class="option-2-container">
                  <p>Option 2:</p> <div class = "option-2">
                    Chicken Sandwich
                  </div>
                </div>
              </div>
              <div class="stat-header">Average Rating</div>
              <div class="data-options">
                <div class="stat-1">
                  <!-- Add the class red or green to "colored" depending on if the rating is good or bad -->
                  <span style="color:green" class="avg-1"></span>/5
                </div>
                <div class="stat-1">
                  <!-- Add the class red or green to "colored" depending on if the rating is good or bad -->
                  <span style="color:red" class = "avg-2"></span>/5
                </div>
              </div>
              <div class="stat-header">Relative Proportion</div>
              <div class="data-options">
                <div class="stat-1">
                  <!-- Add the class red or green to "colored" depending on if the rating is good or bad -->
                  <span style="color:green" class = "per-1"></span>
                </div>
                <div class="stat-1">
                  <!-- Add the class red or green to "colored" depending on if the rating is good or bad -->
                  <span style="color:red" class = "per-2"></span>
                </div>
              </div>
              <!-- <div class="stat-header"># of Ratings</div>
              <div class="data-options">
                <div class="stat-1">
                  <span style="color:green" class = "total-1"></span>
                </div>
                <div class="stat-1">
                  <span style="color:red" class = "total-2"></span>
                </div>
              </div> -->
              <div class="bar-chart" id="external"></div>

            </div>
          </div>
        
        <div class="main-right"></div>
    </div>

    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>

    
    
    </div>
</body>
</html>