<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Assistant' rel='stylesheet'>
    <!-- <script src="script.js"></script> -->
    <title>Document</title>
</head>
<body>
    <!-- top navbar -->
    <header>
        <!-- logo -->
        <div class="logo">LunchLink</div>
        <!-- Right navbar links -->
        <div class="nav-right">
            <a href = "/">Home</a>
            <a href = "/log">Log</a>
            <a href = "/calendar">Calendar</a>
            <a href = "/analytics">Analytics</a>
        </div>
    </header>
    <!-- Main body -->
    <div class="main-body">
        <div class="background"></div>
        <!-- Left and right (links and image) -->
        <div class="main-left">
            <div class="text">
                <!-- h1 bold -->
                <h1><b>SAY NO TO</b></h1>
                <!-- h2 not bold -->
                <h2>dietary exclusivity,<br>food wastage,<br>and long lines</h2>
            </div>  
            <!-- Learn more button -->
            <br><br>
            <button><a href="#home-2">Learn More</a></button>
        </div>
        <div class="main-right">
            <!-- image should be on the background in css -->
            <div class="right-img">
                <div class="img-wrapper"></div>
            </div>
        </div>
        <div class="main-right"></div>
    </div>

    <!-- Parallax section -->
    <div class="parallax"></div>

    <!-- home 2 (stats, etc) -->
    <div class="home-2" id="home-2">
        <h3>We are using <b>student input and feedback</b> to upgrade existing systems and optimize distribution</h3>
        <!-- Divs for the stats -->
        <div class="stats-container">
            <div class="stat">
                <h1 class="stat-number">{{wc}}</h1>
                <p class="stat-name">Surveys Filled Out This Week</p>
            </div>
            <div class="stat">
                <h1 class="stat-number">{{tc}}</h1>
                <p class="stat-name">Surveys Filled Out in Total</p>
            </div>
            <div class="stat">
                <h1 class="stat-number">{{tr}}</h1>
                <p class="stat-name">Total Ratings</p>
            </div>
            <div class="stat">
                <h1 class="stat-number">{{ac}}</h1>
                <p class="stat-name">API Calls to Nutrislice</p>
            </div>
        </div>
    </div>
</body>
</html>